---
import Layout from '../layouts/Layout.astro'
import BackButton from '../components/BackButton.astro'
import Project from '../components/Project.astro'

import { data } from '../_data/pl/pages/seo-positioning'
const { seo, selectedItem, h1, projects } = data
---

<Layout title={seo.title} selectedItem={selectedItem}>
  <nav class="main">
    <div class="container">
      <div class="back-nav-container">
        <BackButton />
      </div>
      <div class="content-container">
        <h1>{h1}</h1>
        <section class="items-container">
          <div class="resouce-items">
            {
              projects.map((project) => (
                <Project
                  title={project.title}
                  url={project.url}
                  rel={project.rel}
                  anchor={project.anchor}
                  description={project.description}
                  label={project.label}
                  techs={project.techs}
                />
              ))
            }
          </div>
        </section>
      </div>
    </div>
  </nav>
</Layout>
