---
const { title, url, rel, anchor, description, label, techs } = Astro.props
import { preventOrphans } from '../utils/helpers'

const array = title.split(' | ')
---

<div class="single-item">
  <h3 style="line-height: 1rem;">
    <span class="line" style="font-size: 1rem;"
      >{array[0]}{array[2] && `, ${array[2]}`}</span
    >
    <span class="line bold-600" style="font-size: 1.5rem;">{array[1]}</span>
  </h3>
  {
    url && anchor && (
      <div class="project-buttons">
        {url && (
          <a href={url} target="_blank" rel={rel} class="button w-button">
            {anchor}
          </a>
        )}
      </div>
    )
  }

  <div class="project-desc project-desc-list w-richtext">
    <ul role="list">
      {description.map((item: string) => <li>{preventOrphans(item)}</li>)}
    </ul>
  </div>
  <div class="mini-label-white" set:html={label} />
  <div class="chips-container">
    {techs.map((tech: string) => <div class="single-chip">{tech}</div>)}
  </div>
</div>
