---
import { data } from '../_data/pl/globals/navigation'
const { niv, nav } = data

const { selectedItem } = Astro.props
---

<aside
  data-animation="default"
  data-collapse="medium"
  data-duration="400"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="sidebar w-nav"
>
  <div class="nav-content">
    <a href={niv.url} class="w-nav-brand" aria-label="home">
      <div class="niv-data">
        <img src={niv.image} loading="eager" alt={niv.alt} class="niv-image" />
        <div>
          <div class="label-white">{niv.name}</div>
          <div class="label-gray">{niv.vocation}</div>
        </div>
      </div>
    </a>

    <nav role="navigation" class="w-nav-menu">
      {
        nav.map((item) => (
          <a
            href={item.url}
            class={`nav-link-container w-inline-block ${
              selectedItem === item.slug ? 'w--current' : ''
            }`}
          >
            <img
              src={item.icon}
              loading="eager"
              alt={item.alt}
              class="nav-link-image"
            />
            <div set:html={item.name} />
          </a>
        ))
      }
    </nav>

    <div
      class="navbar-icon-button w-nav-button"
      style="-webkit-user-select: text;"
      aria-label="menu"
      role="button"
      tabindex="0"
    >
      <img
        src="/assets/icons/btn_menu.svg"
        loading="eager"
        alt="Menu"
        class="navbar-icon"
      />
    </div>
  </div>

  <script>
    import { setupNav } from '../utils/nav.js'

    let cleanup
    document.addEventListener('astro:page-load', () => {
      if (cleanup) cleanup()
      cleanup = setupNav()
    })

    document.addEventListener('astro:before-swap', () => {
      if (cleanup) cleanup()
    })
  </script>
</aside>
